html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.carousel-item img {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#add-form {
    align-content: center;
    width: 70%;
}

.form-check {
    padding-left: 2.5rem;
}