/*main styles*/

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 80px;
    margin: 0;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.headers {
    font-family: 'Bree Serif', serif;
    font-size: 45px;
    margin: 15px;
    text-align: center;
}


/*navbar styles*/

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: darkseagreen !important;
}

.nav-link {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.bg-light {
    background-color: snow !important;
}


/*button styles*/

.button {
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
    border: 2px solid white;
}

.begin {
    font-size: 20px;
    margin: 10px;
    background-color: white;
}

.view-and-delete {
    font-size: 16px;
}

.colored-btn {
    margin: 5px;
    background-color: rgba(201,212,57, 0.75);
}

.no-color-btn {
    margin: 0px;
    background-color: transparent;
    color: rgba(201,212,57, 0.75);
}

.select-btn {
    font-size: 20px;
}

.button:focus,
select:focus {
  outline: none;
}


/*carousel styles*/

.carousel-item img {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.buttonSearch {
    width: 100vw;
    padding: 15px;
    background-color: rgba(201,212,57, 0.75);
    color: snow;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    z-index: 5;
    text-align: center;
}


/*table styles*/

.table {
    font-family: 'Questrial', sans-serif;    
}

th {
    font-size: 20px;
}

td {
    font-size: 16px;
}

.search-name {
    font-size: 15px;
    font-weight: bolder;
}

.details {
    font-size: 16px;
    font-weight: normal;
}

/*form styles*/

.add-form {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}


/*card styles*/

.card {
    padding: 0px;
    font-family: 'Questrial', sans-serif;
}

.card-header {
    padding: 10px;
    background-color: snow;
}

.card-title {
    padding: 10px;
    margin: 3px;
    font-size: 15px;
    font-weight: bold;
}

.card-body {
    padding: 10px;
}


/*alert styles*/

.alert {
    margin: 10px;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    font-weight: bolder;
}