html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Bree Serif', serif;
    font-size: 80px;
    margin: 0;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.button {
    font-family: 'Bree Serif', serif;
    font-weight: bolder;
    border: 2px solid white;
}

.begin {
    font-size: 20px;
    margin: 10px;
    background-color: white;
}

.carousel-item img {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.buttonSearch {
    width: 100vw;
    padding: 15px;
    background-color: rgba(201,212,57, 0.75);
    color: snow;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    z-index: 5;
    text-align: center;
}

.container-fluid {
    margin: 0px 50px;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: darkseagreen !important;
}

.nav-link {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}

.bg-light {
    background-color: snow !important;
}

.headers {
    font-family: 'Bree Serif', serif;
    font-size: 45px;
    margin: 15px;
    text-align: center;
}

.add-form {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}

.table {
    font-family: 'Bree Serif', serif;    
}

th {
    font-size: 17px;
}

td {
    font-size: 13px;
}

.details {
    font-size: 13px;
}

.search-name {
    font-size: 15px;
    font-weight: bolder;
}

.coloredbtn {
    margin: 5px;
    background-color: rgba(201,212,57, 0.75);
}

.view {
    font-size: 13px;
}

.selectbtn {
    font-size: 18px;
}

.card {
    padding: 0px;
    font-family: 'Bree Serif', serif;
    
}

.card-header {
    padding: 10px;
    background-color: snow;
}

.card-title {
    padding: 10px;
    margin: 3px;
    font-size: 15px;
    font-weight: bold;
}

.card-body {
    padding: 10px;
}