/*main styles*/

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    background-color: #FAE8EB;
}

.container {
    background-color: rgba(244,249,233,0.65);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px;
    border-radius: 10px;
}

.row {
    padding: 15px;
}

h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 80px;
    margin: 0;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.headers {
    font-family: 'Bree Serif', serif;
    font-size: 45px;
    margin: 15px;
    text-align: center;
}

img {
    height: 328px;
    width: 328px;
}


/*navbar styles*/

.navbar {
    margin: 0px;
    border-radius: 10px;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: darkseagreen !important;
}

.nav-link {
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: darkseagreen !important;
}

.bg-light {
    background-color: rgba(244,249,233,0.45) !important;
}


/*button styles*/

.button {
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
    margin: 5px;
}

.begin {
    font-size: 20px;
    margin: 10px;
}

.view-and-delete {
    font-size: 16px;
}

.colored-btn {
    background-color: rgba(201,212,57, 0.75);
}

.select-btn {
    font-size: 20px;
    position: absolute; 
    right: 200px;
}

.button:focus,
select:focus {
  outline: none;
}

/*back to top button styles*/

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 2px; 
  right: 50%;
  z-index: 99; 
  font-size: 30px;
}
.fa-angle-up {
    color: black;
}

.fa-angle-up:hover {
    color: darkseagreen;
}


/*carousel styles*/

.carousel-item img {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.buttonSearch {
    width: 100vw;
    padding: 15px;
    background-color: rgba(244,249,233, 0.75);
    color: black;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    z-index: 5;
    text-align: center;
}


/*table styles*/

.table {
    font-family: 'Questrial', sans-serif;
    padding: 10px;
    width: 100%;
}

.table img {
    height: 200px;
    width: 200px;
}

.table td, .table th {
    border: none !important;
}

th {
    font-size: 20px;
}

td {
    font-size: 16px;
}

.search-name {
    font-size: 15px;
    font-weight: bolder;
}

.details {
    font-size: 16px;
    font-weight: normal;
}

/*form styles*/

.add-form {
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}

.form-check {
    padding-left: 50px;
}

.form-check-input {
    padding-left: 5px;
}

/*card styles*/

.card {
    padding: 5px;
    font-family: 'Questrial', sans-serif;
    background-color: rgba(244,249,233,0.45);
    border: 2px solid snow;
}

.card-header {
    padding: 10px;
    background-color: rgba(244,249,233,0.45);
    border-bottom: none;
}

.card-title {
    padding: 10px;
    margin: 3px;
    font-size: 17px;
    font-weight: bold;
}

.card-title-bigger {
    font-size: 20px;
    font-weight: bolder;
}

.card-body {
    padding: 10px;
}

.list-group-item {
    background-color: rgba(244,249,233,0.45);
    border: 1px solid snow;
}


/*alert styles*/

.alert {
    margin: 10px;
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    font-weight: bolder;
}