{% extends "layout.template.html" %}

{%block content%}

<div class="alert alert-success" role="alert">
  Entry added. Thank you for your contribution.
</div>
    
<div class = "add-form">
  <h1 class = "headers">Add a Field Trip Location</h1>
  <form class='form' enctype="multipart/form-data" method="POST">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Upload Image:</label>
      <div class="col-sm-10">
        <input type='file' name='image' required/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-10">
        <input type ='text' class = "form-control" name='name' required/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Address:</label>
      <div class="col-sm-10">
        <input type ='text' class = "form-control" name='address'/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">
        <input type ='email' class = "form-control" name='contact'/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Age Group:</label>
      <div class="col-sm-9 form-check">
        {%for a in age%}
          <input type="checkbox" class="form-check-input" name="age-group" value="{{a}}"/><label class="form-check">{{a}}</label>
        {%endfor%}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Description:</label>
      <div class="col-sm-10">
        <textarea ='about' class = "form-control" rows="10" name='description' placeholder="add a description for a location"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Activities:</label>
      <div class="col-sm-10">
        <textarea id ="activity" class = "form-control" rows="5" name='activities' placeholder="separate each activity with a new line"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Themes:</label>
      <div class="col-sm-9 form-check">
        {%for t in themes%}
          <input type="checkbox" class="form-check-input" name="theme" value="{{t}}"/><label class="form-check">{{t}}</label>
        {%endfor%}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Price:</label>
      <div class="col-sm-10">
        <select name='price' class='form-control'>
          {%for p in prices %}
            <option
               {%if price == p %}
                 selected
               {%endif%}
            >{{p}}</option>
          {%endfor%}
        </select>
      </div>
    </div>
    <input type="submit" class="button colored-btn select-btn" value="Add">
   </form>
</div>

{%endblock%}