{% extends "layout.template.html" %}

{%block content%}

<input type="submit" class="button colored-btn select-btn" value="Back" onclick="goBack()">
<h1 class = "headers">{{result['name']}}</h1>
<form class='form' enctype="multipart/form-data" method="POST">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Change Image:</label>
    <div class="col-sm-10">
      <input type='file' name='edit-image' required/>
    </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-3 col-form-label">Age Group:</label>
      <div class="col-sm-9 form-check">
        {%for a in age%}
          <input type="checkbox" class="form-check-input" name="edit-age-group" value="{{a}}" {%if a in result['age_group']%} checked {%endif%}/><label class="form-check">{{a}}</label>
        {%endfor%}
      </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description:</label>
    <div class="col-sm-10">
      <textarea ='edit-description' class = "form-control" rows="10" name='edit-description'>{{result['description']}}</textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Activities: (separate each activity with a new line)</label>
    <div class="col-sm-10">
      <textarea id ="edit-activity" class = "form-control" rows="5" name="edit-activities">{% for each_activity in result['activities']%}{{each_activity}}
{%endfor%}
      </textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Themes:</label>
      <div class="col-sm-9 form-check">
        {%for t in themes%}
          <input type="checkbox" class="form-check-input" name="edit-theme" value="{{t}}"{%if t in result['themes']%} checked {%endif%}/><label class="form-check">{{t}}</label>
        {%endfor%}
      </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Price:</label>
      <div class="col-sm-10">
        <select name='edit-price' class='form-control'>
          {%for p in prices %}
            <option
               {%if p in result['price']%}
                 selected
               {%endif%}
            >{{p}}</option>
          {%endfor%}
        </select>
      </div>
  </div>
   <input type="submit" class="button colored-btn view-and-delete" value="Edit">
</form>

{%endblock%}