<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
              <table class='table'>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Activities
                    </th>
                    <th>
                        Themes
                    </th>
                    <th>
                        Age Group
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Image
                    </th>
                </tr>
            </thead>
            <tbody>
                {%for each_result in results %}
                <tr>
                    <td>
                        {{each_result['name']}} 
                    </td>
                    <td>
                        {{each_result['address']}}
                    </td>
                    <td>
                        {{each_result['email']}}
                    </td>
                    <td>
                        {{each_result['description']}}
                    </td>
                    <td>
                        {% for each_activity in each_result['activities']%}
                        <p>{{each_activity}}</p>
                        {%endfor%}
                    </td>
                    <td>
                        {% for each_theme in each_result['themes']%}
                        <p>{{each_theme}}</p>
                        {%endfor%}
                    </td>
                    <td>
                        {% for each_age in each_result['age_group']%}
                        <p>{{each_age}}</p>
                        {%endfor%}
                    </td>
                    <td>
                        {{each_result['price']}}
                    </td>
                    <td>
                        <a href = "{{each_result['image']['image_url']}}" target="popup" onclick="window.open('{{each_result['image']['image_url']}}','popup','width=600,height=600'); return false;"><img src="{{each_result['image']['image_url']}}"  height="100" width="100"/></a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
     {% for image in all_images %}
     <img src="{{image.image_url}}"/>
     {% endfor %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
