{% extends "layout.template.html" %}

{%block content%}

<div class="container">
    
    {%block alert%}
    {%endblock%}
    
    <table class='table'>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Email
                </th>
                <th>
                    Description
                </th>
                <th>
                    Activities
                </th>
                <th>
                    Themes
                </th>
                <th>
                    Age Group
                </th>
                <th>
                    Price
                </th>
                <th>
                    Image
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
        {%for each_result in results %}
            <tr>
                <td>
                    {{each_result['name']}}
                </td>
                <td>
                    {{each_result['address']}}
                </td>
                <td>
                    {{each_result['email']}}
                </td>
                <td>
                    {{each_result['description']}}
                </td>
                <td>
                    {% for each_activity in each_result['activities']%}
                        <p>{{each_activity}}</p>
                    {%endfor%}
                </td>
                <td>
                    {% for each_theme in each_result['themes']%}
                        <p>{{each_theme}}</p>
                    {%endfor%}
                </td>
                <td>
                    {% for each_age in each_result['age_group']%}
                        <p>{{each_age}}</p>
                    {%endfor%}
                </td>
                <td>
                    {{each_result['price']}}
                </td>
                <td>
                    <a href="{{each_result['image']['image_url']}}" target="popup" onclick="window.open('{{each_result['image']['image_url']}}','popup','width=600,height=600'); return false;"><img src="{{each_result['image']['image_url']}}"  height="100" width="100"/></a>
                </td>
                <td>
                    <a href="{{ url_for('deleteInfoPage', location_id=each_result['_id']) }}">View</a>
                </td>
            </tr>
        {%endfor%}
    </tbody>
    </table>
</div>

{%endblock%}