{% extends "layout.template.html" %}

{%block content%}

<div class="card">
<input type="submit" class="button colored-btn select-btn" value="Back" onclick="goBack()">
  <div class="card-body view-one">
    <h1 class = "headers">{{result['name']}}</h1>
    <h5 class="card-title">{{result['email']}}</h5>
    <p class="details">{{result['address']}}</p>
    <a href="{{ url_for('editAddressForm', location_id=result['_id']) }}"><input type="submit" class="button colored-btn view" value="Edit"></a>
  </div>
  <img src="{{result['image']['image_url']}}" class="card-img-top">
</div>

{%endblock%}
