{% extends "layout.template.html" %}

{%block content%}

<h1 class = "headers">{{result['name']}}</h1>
<input type="submit" class="button coloredbtn selectbtn" value="Back" onclick="goBack()">
<table class='table'>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{result['name']}} 
            </td>
            <td>
                {{result['address']}}
            </td>
            <td>
                {{result['email']}}
            </td>
        </tr>
    </tbody>
</table>

{%endblock%}
