{% extends "layout.template.html" %}

{%block content%}

<input type="submit" class="button colored-btn select-btn" value="Back" onclick="goBack()">
<h1 class = "headers">{{result['name']}}</h1>
<table class='table'>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{result['name']}} 
            </td>
            <td>
                {{result['address']}}
            </td>
            <td>
                {{result['email']}}
            </td>
            <td>
                <a href="{{ url_for('editAddressForm', location_id=result['_id']) }}"><input type="submit" class="button colored-btn view" value="Edit"></a>
            </td>
        </tr>
    </tbody>
</table>

{%endblock%}
